/*自定义*/
html, body{
	font-family: "Microsoft YaHei";
	height: 100%;
}
body{
	min-width: 800px;
    width: 100%;
    height: 100%;
    background-color: #ffe;
    // background-image: url('/static/image/bg.jpg');
    background-size: cover;
}
ul{
	list-style: none;
}
input, select, textarea {
    outline: 0;
}
.btn-standard{
	padding: 10px 40px;
}
.pointer{
	cursor: pointer;
}
.box-title{
	color: #fff;
}
.step-box{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}
.mb10{
	margin-bottom: 10px;
}
.mb30{
	margin-bottom: 30px;
}
.ml10{
	margin-left: 10px;
}
.ml30{
	margin-left: 30px;
}
.ml40{
	margin-left: 40px;
}
.mt100{
	margin-top: 100px;
}
.mt200{
	margin-top: 200px;
}

/* 覆盖原始组件 */
.el-table .cell {
    text-align: center;
}
/* .el-step__title.is-process{
	color: #ddd;
} */
